
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Audiowide&family=Poppins:wght@300;400;500;600;700&family=Press+Start+2P&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


.auth-container {
  display: flex;
  width: 800px;
  max-width: 90vw;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
}

.auth-left {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-right {
  flex: 1;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-right img {
  max-width: 90%;
  max-height: 90%;
}

.auth-left input,
.auth-left button {
  width: 100%;
}

.auth-left .form-card {
  box-shadow: none;
  padding: 0;
  max-width: 100%;
}

.logo-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
 
}

.logo-group img {
  height: 55px; 
}

.logo-text {
  font-family: 'Sour Gummy', cursive;
  font-size: 2.5rem;
  color: #333;
}

.logo-group:hover .logo-text {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}


/* authPage */
.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f7f7f7; 
}

.form-card {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  box-sizing: border-box; 
}

.form-wrapper h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box; 
}

.form-wrapper button {
  width: 100%;
  padding: 12px;
  margin-top: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.form-wrapper p {
    margin-top: 1rem;
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 4px;
}

.success {
  color: green;
  font-size: 1rem;
  margin-top: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Animation */
.form-card.fade-in {
  opacity: 0;
  transform: translateY(20px);
}

.form-card.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}
