.modal {
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);  
  display: flex;
  justify-content: center; 
  align-items: center;  
  z-index: 9999; 
}

.modal-content {
  background-color: #fff; 
  padding: 20px;
  border-radius: 8px;
  width: 400px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
  animation: fadeIn 0.3s ease-in-out; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-content h2 {
  margin-top: 0;
}

#task-title, #task-description, #task-assigned-to, #task-project, #task-status {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#task-status {
  margin-bottom: 20px;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#close-modal-btn {
  background-color: #dc3545;
  margin-top: 10px;
}

#close-modal-btn:hover {
  background-color: #c82333;
}


/* logout modal */
.modal-content.logout-confirmation {
  width: 300px;
  text-align: center;
}

.modal-content.logout-confirmation p {
  margin: 20px 0;
}

.modal-content.logout-confirmation .buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.modal-content.logout-confirmation button {
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

#confirm-logout-btn {
  background-color: #dc3545;
  color: white;
}

#confirm-logout-btn:hover {
  background-color: #c82333;
}

#cancel-logout-btn {
  background-color: #6c757d; 
  color: white;
}

#cancel-logout-btn:hover {
  background-color: #5a6268;
}
